
body { background: #777; color: #eee; }

a { color: #f5f5f5; }
a:hover, a:active, a:focus { color: #fff; }
a:link, a:visited { color: f1f1f1;  }

/* Navigation menu*/
#navigation ul, #navigation ul.sf-menu { border-color: #EAEAEA #F5F5F5 #F5F5F5 #F5F5F5; background: url('../images/menubar.png'); }
	
#navigation ul li, #navigation ul.sf-menu li { border-right: 1px solid #e3e3e3; background:none; }

#navigation ul li a:hover, #navigation ul.sf-menu li a:hover { color: #545454; background-color: #f1f1f1; }

#navigation ul li:hover li a, #navigation ul.sf-menu li li a { color: #595959; }

#navigation ul li a.active, #navigation ul.sf-menu li a.active { color: #333333; background-color: #ffffff; text-shadow: 1px 1px 0px #ffffff; }

#navigation ul ul li a, #navigation ul ul li a.active,
#navigation ul.sf-menu ul li a, #navigation ul.sf-menu ul li a.active {
background-color: #f0f0f0; border:none; }
 
#navigation ul ul li a:hover,
#navigation ul.sf-menu ul li a:hover,
#navigation ul.sf-menu ul li.sfHover > a { background-color:#ffffff; }

/*css drop down menu arrows*/
#navigation li.expanded > a, #navigation li.menuparent > a  {
background: transparent url('../images/light/arrow_bullet.png') no-repeat 90% 50%; }

#navigation li li.expanded > a {
background: #f0f0f0 url('../images/light/arrow_bullet.png') no-repeat 90% 50%; }

#navigation li li.expanded:hover > a { background-color:#ffffff; }

#navigation li.expanded:hover > a, #menu li.expanded:active > a,
#navigation li.menuparent:hover > a, #menu li.menuparent:active > a {    
background: #f0f0f0 url('../images/dark/arrow_bullet.png') no-repeat 90% 50%; } 

pre,code { background-color: #ededed; border-bottom: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9;}

hr { border: solid #DDD;}

.cta { background-color: #f2f2f2; border: 1px solid #dcdcdc; 
text-shadow: #fff 1px 1px 0;
box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset; -moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
-webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset; }
.cta h3 { font-size: 1.5em; text-shadow: #fff 1px -1px 0; }

#header #site-name a { text-shadow: 0px 1px 0px #F5F5F5; }
#header #site-name a:hover { color: #fff; }

.breadcrumb { color: #444 !important; background: url('../images/breadcrumb.png') no-repeat center right; text-shadow: 1px 1px 0px #fff; }
#breadcrumb a { color: #0000ff; }

/*Tabs*/
ul.primary li a {
  background: #aaa;
  color: #eee;
  border-color: #ccc;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background: transparent;
  border-color: #ccc #ccc #777;
  border-style: solid;
  border-width: 1px;
}

.node.node-teaser { border-bottom: 1px solid #d6d6d6; }
.submitted { color: #ccc; }

.region-help { border: 1px solid #d3d7d9; }

#sidebar-first .block, #sidebar-second .block {
  background: none repeat scroll 0 0 #666666;
}
